#modalButton {
    background-color: white;
    color: grey;
    border-style: dashed;
    border-color: grey;
    padding-top: 37px;
    padding-bottom: 37px;
}

#checkbox input {
    width: 20px;
    height: 20px;
}

#checkbox input:checked {
    background-color: #DB3022;
}

#checkbox label {
    margin-left: 5px;
}