/* login register */
form .form-control:focus {
  border-color: #db3022;
  box-shadow: 0 0 0 0.2rem rgb(219, 48, 34);
}

/* .btn-group .btn-check:checked + .btn {
  color: white;
  background-color: #db3022;
  border-color: #db3022;
}

a.text-danger {
  color: #db3022 !important;
}

button.btn {
  background-color: #db3022;
} */
